@model TatBlog.WebApp.Areas.Admin.Model.PostFilterModel
@{
	ViewData["PagTitle"] = "Danh sách bài viết";
	var postList = ViewBag.PostList as IPagedList<Post>;
}
@*hiển thị danh sách bài viết trả về từ phương thức Index*@
<h1>
	Danh sách bài viết
</h1>

@*hiển thị form để tìm kiếm bài viết*@
<partial name="_PostFilterPane" model="Model"></partial>

@if(postList != null && postList.Count > 0)
{
	<table class = "table table-responsive table-striped">
		<thead>
			<tr>
				<th>Tiêu đề</th>
				<th>Tác giả</th>
				<th>Chủ đề</th>
				<th>Xuất bản</th>
				<th>Xóa</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var post in postList)
			{
				<tr>
					<td>
						<a asp-area ="Admin"
						asp-controller ="Posts"
						asp-action="Edit"
						asp-route-id=@post.Id
						class="text-bold">
							@post.Title
						</a>
						<p class="text-muted">
							@post.ShortDescription
						</p>

					</td>
					<td>
						@post.Author.FullName
					</td>
					<td>
						@post.Category.Name
					</td>
					<td>
						<a asp-area="Admin"
						asp-controller="Posts"
						asp-action="TogglePub"
						asp-route-id="@post.Id" type="button" class="btn btn-sm @(post.Published ? "btn-success" : "btn-danger")">
                            @if (post.Published)
                            {
                                <i class="fa fa-check">
									<p>Xuất bản</p>

								</i>
                            }
                            else
                            {
                                <i class="fa fa-times">
									<p>Chưa xuất bản</p>
								</i>
                            }
                        </a>
					</td>
					<td>
						<a asp-area="Admin"
						asp-controller="Posts"
						asp-action="Delete"
						asp-route-id="@post.Id" class="btn btn-sm">
						<p>Xóa</p>
						</a>
					</td>

				</tr>
			}
		</tbody>
	</table>
	<partial name="_AdminPaging" model="@postList"></partial>
}
else
{
	<h1 class="text-danger">
		Không tìm thấy bài viết nào
	</h1>
}

